// Text Selection
$selectionColor: orange;
$selectionTextColor: #fff;

// Links
$linkColor: red;
$linkHoverColor: blue;

// Fonts
$baseFont: 14px/1.4 sans-serif;

// Structure
$pageWidth: 960px;

// Other