/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1000px;

// Text Selection
$selectionColor: orange;

// Colors
$red: red;
$blue: blue;
