/* POSTS */

article {
	clear: both;
	margin: 0 0 35px 0;
}

blockquote {
	background: url(assets/images/icons/blockquote.png) no-repeat 0 12px;
	padding: 10px 20px 10px 50px;
	font-style: italic;
}
blockquote p { }

ul, ol { }

.post { }

.sticky { }

.entry { }
.entry a { }
.entry a:hover { }

.entry img { }

.entry .wp-caption { }
.entry .wp-caption img { }
.entry .wp-caption .wp-caption-text { }
.entry .wp-caption.aligncenter {
	margin: 0 auto;
}

img.wp-smiley {
	padding: 0;
	border: none;
}

.wp-caption-text { }
.gallery-caption { }

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
img.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

pre { }
code, tt { }

.meta { }
.postmetadata { }

/* POST NAVIGATION */

.navigation {
	clear: both;
}
.next-posts {
	float: left;
}
.prev-posts {
	float: right;
}
