/* SHARING */

.sharing h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}
.sharing ul {
	list-style: none;
	margin-top: 0;
	padding-top: 5px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.sharing li {
	float: left;
}
.sharing li:first-child {
	padding-left: 0;
}
.sharing .share-twitter {
	padding-top: 1px;
}
.sharing .share-facebook {
	padding-top: 1px;
}
.sharing .share-googleplus {
	margin-left: 30px;
}
